<a href="https://colab.research.google.com/github/vianelk/ai_financial_track/blob/main/AI_detect_financial_bankrupt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# AI DETECTION OF COMPAGNY'S BANKRUPT

In [70]:
!pip install dataiku-api-client

Requirement already satisfied: dataiku-api-client in /usr/local/lib/python3.11/dist-packages (13.4.1)
Requirement already satisfied: requests<3 in /usr/local/lib/python3.11/dist-packages (from dataiku-api-client) (2.32.3)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.11/dist-packages (from dataiku-api-client) (2.8.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests<3->dataiku-api-client) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests<3->dataiku-api-client) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests<3->dataiku-api-client) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests<3->dataiku-api-client) (2025.1.31)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil->dataiku-api-client) (1.17.0)

## IMPORT OF LIBRARIES

In [71]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import dataikuapi as dataiku

## IMPORT OF DATASET

In [72]:
dataiku_url = 'https://dss-c8b1fb04-e440c9ef-dku.eu-west-3.app.dataiku.io/'
dataiku_api_key = 'dkuaps-9zHDQVbaVOXD18Rfp2Y3O15dbVV3az0E'
dataiku_project_name = 'AI_FINANCIAL_TRACK'
dataiku_dataset_name = 'data_filtered'

In [73]:
def get_dataiku_project(dataiku_url, dataiku_api_key, project_name):
    external_client = dataiku.DSSClient(dataiku_url, dataiku_api_key)
    project = external_client.get_project(project_name)
    return project

In [74]:
def get_dataiku_dataset(project, dataset_name):
    dataset = project.get_dataset(dataset_name)
    # Récupérer le schéma pour obtenir les noms des colonnes
    schema = dataset.get_schema()
    column_names = [col['name'] for col in schema['columns']]
    # Récupérer les données ligne par ligne
    rows = []
    for row in dataset.iter_rows():
        rows.append(row)
    # Convertir les données en DataFrame avec les colonnes
    df = pd.DataFrame(rows, columns=column_names)

    return df

In [75]:
projet = get_dataiku_project(dataiku_url, dataiku_api_key, dataiku_project_name)
df = get_dataiku_dataset(projet, dataiku_dataset_name)

df

,net_income_to_total_assets,total_income_total_expense,borrowing_dependency,retained_earnings_to_total_assets,total_debt_total_net_worth,bankrupt
0,0.716845,0.002022,0.390284,0.903225,0.021266,1.0
1,0.795297,0.002226,0.376760,0.931065,0.012502,1.0
2,0.774670,0.002060,0.379093,0.909903,0.021248,1.0
3,0.739555,0.001831,0.379743,0.906902,0.009572,1.0
4,0.795016,0.002224,0.375025,0.913850,0.005150,1.0
...,...,...,...,...,...,...
6814,0.799927,0.002266,0.373823,0.925611,0.006655,0.0
6815,0.799748,0.002288,0.372505,0.932629,0.004623,0.0
6816,0.797778,0.002239,0.369637,0.932000,0.001392,0.0
6817,0.811808,0.002395,0.369649,0.939613,0.003816,0.0
6818,0.815956,0.002791,0.370049,0.938005,0.000461,0.0

## DATA TRANSFORMATION

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6819 entries, 0 to 6818
Data columns (total 6 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   net_income_to_total_assets         6819 non-null   float64
 1   total_income_total_expense         6819 non-null   float64
 2   borrowing_dependency               6819 non-null   float64
 3   retained_earnings_to_total_assets  6819 non-null   float64
 4   total_debt_total_net_worth         6819 non-null   float64
 5   bankrupt                           6819 non-null   float64
dtypes: float64(6)
memory usage: 319.8 KB

### NULL VALUE VERIFICATION

In [78]:
 df.isnull().sum()

net_income_to_total_assets           0
total_income_total_expense           0
borrowing_dependency                 0
retained_earnings_to_total_assets    0
total_debt_total_net_worth           0
bankrupt                             0
dtype: int64

### VERIFICATION OF DUPLICATES COLUMNS

In [79]:
df.duplicated().sum()

0

### VERIFICATION OF NAN VALUES

In [81]:
[print(col) for col in df if df[col].isna().sum() > 0]

[]

## DATA EXPLORATION